/* ----------------------------------------------------
*
*   CSS stylesheet for admin page of the rallye website
*
------------------------------------------------------- */


/* GENERIC STYLE */
a { outline: none; text-decoration: none; color:inherit; -webkit-appearance: none; border-radius: 0; }
img { border:none; outline: none; }
html { font-size: 100%; } 
body {
	/*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), #000 url("img/background.jpg") center/cover no-repeat fixed;*/
  background: #000 url("img/background.jpg") center/cover no-repeat fixed;
	padding: 0; 
	margin: 0; 
	font-family: 'Open sans', sans-serif; 
	font-size: 1rem; 
	text-rendering: optimizeLegibility;
	text-align: center;
}
.fas, .far, .fab { font-size: 1.5rem; letter-spacing: 0.6rem; vertical-align: middle; }




/* FORM STYLE */
input {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font: inherit;

}
.textbox {
  background-color: #fff; 
  border: 1px solid #bdc3c7; 
  color: #333; 
}
.btn {
  cursor: pointer; 
  color: #eee;
  background-color: #222; 
  border: 1px solid #222; 
  transition: background-color .25s linear;
}
.btn:hover { 
  cursor: pointer;
  color: #fff; 
  background-color: #000; 
  box-shadow: 0 0 6px #999;
}



/* TOOLTIP STYLE */
.tooltip span {
  z-index:20; display:none; padding:14px 20px; margin-top:22px; margin-left:-160px; 
  border-radius:4px; box-shadow: 5px 5px 8px #333; font-size: 1.3rem; font-weight: normal; text-align: left; }
.tooltip:hover span { display:inline; position:absolute; color:#111; border:1px solid #dca; background:#fffaf0; }
.callout { z-index:20;position:absolute;top:-12px;border:0;left:128px; }
.tooltip span { margin-top: 18px; margin-left: -40px; }
.callout { left: 31px; }




/* MENU STYLE */
.menu {
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 70px 45px 0 45px;
    background: #ccc;
    margin-left: -250px;
    text-align: left;
    font-size: 18px;
    transition: margin-left 0.5s;
    line-height: 1.6;
    z-index: 2;
}
.menu-btn { position: absolute; top: 15px; left: 20px; z-index: 5; }
.onglet { margin-bottom: 6px; cursor: pointer; }
.onglet:hover { font-weight: bold; }




/* CONTENT STYLE */

#authform { width: 215px; margin: 2rem auto; }
#loginfailed { margin-bottom: 15px; color: red; }

.content {
	display: inline-block;
	position: relative;
	z-index: 2;
	width: 900px;
	min-height: calc(100vh - 130px);
	margin-top: 100px;
	padding: 15px 20px;
	background-color: #F5F5F5;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	box-shadow: 0 0 15px #666;
	overflow-x: hidden;
	overflow-y: auto;
}

#logo { 
  position: fixed;
  top:30px; right:30px;
  width: 260px; 
}

.john-content h1 { color: #222; font-size: 40px; font-family: "EB Garamond", serif; font-weight: 800; margin-bottom: 60px;  }
.john-content table { margin: 0 auto; font-size: 16px; text-align: left;}
.john-content .solved { background-color: green; width: 8px; height: 8px; margin-left: 2px; display: inline-block; margin-bottom: 2px; }
.john-content .unlocked { background-color: #000; width: 8px; height: 8px; margin-left: 2px; display: inline-block; margin-bottom: 2px; opacity: 0.2; }
.john-content .locked { background-color: none; width: 8px; height: 8px; margin-left: 2px; display: inline-block; margin-bottom: 2px; opacity: 0.2; box-sizing: border-box; border:1px solid #000; }
.goodguess { color: green; font-weight: bold; }
.john-content .loadmore { cursor: pointer; margin-top: 20px; color: #ccc; }
.infoItem { margin: 20px 80px; background-color: #eee; border-radius: 15px; padding: 17px 20px 1px 20px; position: relative; box-shadow: 1px 1px 3px #555; text-align: left; }
.infoItem .meta { font-size: 13px; color: #777; }
.john-content .repondreMsg { width: 15px; height: 15px; position: absolute; top: 0px; right: 0px; }

.infoItem .disc { font-size: 13px; padding: 13px; background: #f8f8f8; border-radius: 10px; box-shadow: 1px 1px 2px #999; margin: 10px 0; }
.infoItem .disc-name { font-weight: bold; }
.infoItem .disc-date { float: right; color: #666; }
.infoItem .disc-post { margin-top: 5px; }

td.mdp { max-width: 200px; }


/* MOBILE STYLE */

@media (orientation: portrait), (max-width: 900px) {
	#logo { display: none; }
	.content { width: 100%; margin: 0; height: 100%; border-radius: 0; box-shadow: 0; padding: 0; }
	.menu-btn { top: 19px; position: fixed; }
	.menu { padding-top: 100px; position: fixed; }
  .john-content { padding: 80px 0; }
	.john-content h1 { font-size: 24px; margin-top: 0; padding: 20px 0 20px 59px; background: #fff000; line-height: 1; position: fixed; z-index: 4; text-align: left; top: 0; width: 100%; }
	table { text-align: left; white-space:nowrap; table-layout: fixed; width: 98%; }
	td, th { overflow: hidden; }
	td.rank { width: 5%; }
	td.name { width: 30%; }
	td.dr { display: none; }
	td.eni { width: 60%; }
	td.eni_c { width: 5%; }
	td.par { display: none; }
	td.par_c { display: none; }
	.ok, .ko { width: 4px; height: 4px; margin-left: 1px; }
	.infoItem { margin: 20px 10px; }
}






/* PACMAN loading animation */

.lds-css { display: inline-block; margin-top: 150px; }
@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
.lds-pacman {
  position: relative;
}
.lds-pacman > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #f3b72e;
  -webkit-animation: lds-pacman-1 1s linear infinite;
  animation: lds-pacman-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
.lds-pacman > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: lds-pacman-2 1s linear infinite;
  animation: lds-pacman-2 1s linear infinite;
}
.lds-pacman > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3869c5;
  -webkit-animation: lds-pacman-3 1s linear infinite;
  animation: lds-pacman-3 1s linear infinite;
}
.lds-pacman > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
  animation-delay: -0.67s;
}
.lds-pacman > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}
.lds-pacman > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-pacman {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}